@import "_init";
@mixin car-card {
	.car {
		width: 100%;
		height: fit-content;

		a {
			&:hover .image {
				filter: brightness(90%);
				transition: 0.3s;
			}

			&:hover .buttons {
				opacity: 1;
				transition: 0.2s;
			}
		}

		.image {
			width: 100%;
			height: 200px;
			border-radius: 5px;
			position: relative;

			.tag {
				@include flex;
				font-size: 13px;
				width: fit-content;
				background-color: $font-color-primary;
				padding: 7px;
				border-radius: 5px;
				position: absolute;
				left: 10px;
				bottom: 10px;

				i,
				p {
					color: white;
					font-weight: 600;
				}

				#tag-name {
					color: #ababab;
				}
			}

			#tag {
				background-color: rgba(0, 0, 0, 0.5);

				#tag-name {
					color: #ededed;
				}
			}
		}

		.info {
			@include flex(space-between, flex-start);
			.texts {
				padding: 10px 0;

				h4 {
					line-height: calc(15px * 1.618);
					margin-bottom: 5px;
				}

				.description {
					font-size: 13px;
					line-height: calc(13px * 1.618);
					margin-bottom: 5px;
				}

				.location {
					font-size: 13px;
					line-height: calc(13px * 1.6);
					margin-bottom: 10px;
					color: $font-color-secondary;
				}
			}

			.buttons {
				padding: 10px 0;
				opacity: 0;
				i {
					font-size: 20px;
					padding: 3px;
					&:hover {
						border-bottom: 3px solid $brand-color;
					}
				}
			}
		}
	}
}

.home {
	@include container;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 0.8fr;
	padding-top: 120px;
	min-height: 100vh;
	width: 100%;

	main {
		grid-column: 1/4;

		.filter {
			@include height-width(60px, 100%);
			@include flex(space-between, center);

			ul {
				display: flex;
				flex-direction: row;
				position: relative;

				li {
					list-style: none;
					padding: 10px;
					border-radius: 5px;
					margin-right: 5px;
					border: 1px solid lightgray;
					font-size: 13px;
					cursor: pointer;

					ul {
						display: none;
						flex-direction: column;
						padding: 10px;
						background-color: white;
						box-shadow: 0 0 20px rgba(0, 0, 0, .1);
						margin-left: -11px;
						border-radius: 10px;
						position: absolute;
						top: 37px;
						z-index: 10;

						li {
							border: none;
							padding: 10px;
							font-weight: lighter;

							&:hover {
								font-weight: 600;
							}
						}
					}

					&:hover {
						font-weight: 600;
					}

					&:hover ul {
						display: flex;
					}
				}
			}

			.sort {
				.active {
					border-bottom: 2px solid gray;
					color: $font-color-primary;
				}

				ul {
					li {
						border: none;
						border-radius: 0;
						padding: 5px;
						color: $font-color-secondary;
						font-weight: 400;

						&:hover {
							color: $font-color-primary;
						}
					}
				}
			}
		}

		.cars {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 20px;
			padding: 20px 0;
			@include car-card;
		}

		.action-results-btn {
			padding: 10px;
			font-size: 15px;
			margin-bottom: 30px;
			font-weight: 600;
			border: none;
			border-radius: 5px;
			background-color: $brand-color;
			cursor: pointer;

			&:hover {
				color: $font-color-secondary;
			}
		}
	}

	aside {
		margin-left: 40px;
		padding-top: 110px;
		width: 220px;

		.youtube-link {
			width: 100%;
			height: fit-content;

			iframe {
				width: 100%;
				height: 130px;
				border-radius: 5px;
			}

			h4 {
				margin-top: 10px;
				line-height: calc(15px * 1.618);
				margin-bottom: 10px;
			}

			button {
				width: 100%;
				padding: 10px;
				font-size: 15px;
				font-weight: 600;
				background-color: $brand-color;
				border: none;
				border-radius: 5px;
				cursor: pointer;

				&:hover {
					color: $font-color-secondary;
				}
			}
		}

		.new-cars {
			@include height-width(fit-content, 100%);
			margin-top: 20px;
			@include car-card;

			h1 {
				margin-bottom: 10px;
			}

			.car {
				a {
					.images {
						display: grid;
						grid-template-columns: 1fr 0.5fr;
						grid-gap: 5px;

						.extra-images {
							height: 100%;
							width: 100%;
							display: grid;
							grid-template-columns: 1fr;
							grid-template-rows: 1fr 1fr;
							grid-gap: 5px;

							div:nth-child(1) {
								height: 100%;
								width: 100%;
								border-radius: 0 5px 0 0;
							}

							div:nth-child(2) {
								height: 100%;
								width: 100%;
								border-radius: 0 0 5px 0;
							}
						}
					}

					.image {
						height: 160px;
						border-radius: 5px 0 0 5px;
					}

					.info {
						.texts {
							ul {
								font-size: 10px;
								line-height: calc(10px * 1.618);
								padding-left: 16px;
								margin-bottom: 5px;
							}
						}
					}
				}
			}
		}
	}
}
/* ------------------ MEDIA QURIES ----------------- */
@media (min-width: 1560px) {
	.home {
		padding: 120px 0 0;

		aside {
			width: 300px;

			.youtube-link {
				iframe {
					height: 200px;
				}
			}
		}
	}
}
@media screen and (max-width: 1150px) {
	.home {
		main {
			.cars {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}
@media screen and (max-width: 900px) {
	.home {
		main {
			.cars {
				.car {
					.image {
						height: 160px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 860px) {
	.home {
		grid-template-columns: 1fr 1fr 1fr 1fr;

		main {
			.cars {
				grid-template-columns: repeat(1, 1fr);

				.car {
					.image {
						height: 260px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 710px) {
	.home {
		grid-template-columns: 1fr 1fr 1fr 1fr;

		main {
			.cars {
				grid-template-columns: repeat(1, 1fr);

				.car {
					.image {
						height: 180px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 650px) {
	.home {
		main {
			grid-column: 1/5;

			.cars {
				grid-template-columns: repeat(1, 1fr);

				.car {
					.image {
						height: 260px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 450px) {
	.home {
		padding-left: 20px;
		padding-right: 20px;

		main {
			.cars {
				.car {
					.image {
						height: 190px;
					}
				}
			}
		}
	}
}
