@import "_init";

#show-password{
	float: right;
	margin-top: -34px;
	margin-right: 20px;
	position: relative;
	z-index: 10;
	color: $font-color-secondary;
	font-weight: lighter;
	font-size: 20px;
	background-color: white;
	padding: 5px;
	border-radius: 10px;
}

.signin{
	@include container;
	height: fit-content;
	min-height: 100vh;
	@include center;
	.error{
		font-size: 15px;
		color: red;
		font-weight: 500;
		padding: 5px;
		position: relative;
		top: -4px;
	}
	p{
		color: $font-color-primary;
		margin-top: 10px;
		font-size: 15px;
		font-weight: 500;
		a{
			color: $font-color-primary;
			font-weight: 600px;
			padding: 10px 15px;
			border-radius: 10px;
			margin-left: 5px;
			background-color: $brand-color-secondary;
			&:hover{
				background-color: $brand-color;
			}
		}
	}
	form{
		padding: 40px;
		background-color: #f4f4f4;
		border-radius: 10px;
		@include responsive-width(700px);
		.inner-container{
			@include flex();
			gap: 20px;
			width: 100%;
			margin-bottom: 15px;
			margin-top: -10px;
			.left, .right{
				width: 100%;
				margin: 10px 0px;
				label{
					position: relative;
					top: 28px;
					left: 10px;
					color: $font-color-secondary;
					transition: .3s;
					font-weight: 500;
					font-size: 15px;
				}
				input{
					width: 100%;
					padding: 10px 10px;
					border-radius: 10px;
					border: none;
					background-color: white;
					font-size: 15px;
					font-weight: 500;
					&:focus{
						outline: none;
					}
				}
			}
		}
		button{
			padding: 10px;
			background-color: $brand-color;
			color: $font-color-primary;
			font-weight: 700;
			border-radius: 10px;
			border: none;
			cursor: pointer;
			font-size: 15px;
			&:hover{
				color: $font-color-secondary;
			}
			&:focus{
				outline: none;
			}
		}
	}
}

@media (min-width: 1560px){
	.signin{
		padding: 0px;
	}
}
@media screen and (max-width: 600px){
	.signin{
		height: 750px;
		padding: 0px 20px;
		form{
			padding: 20px;
			.inner-container{
				flex-direction: column;
				gap: 0px;
				.right{
					margin-top: -10px;
				}
			}
		}
	}
}
